.slider {
    position: absolute;
  height: 100%;
  width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-left: 5px;
    margin-top: 10px;

    .image {
        height: 380px;
        border-radius: 8px;
        width: 93vw;

        object-fit: fill;
    
      }

  }

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }