.scheme-card {
  width: 100%;

  .scheme_image {
    max-width: 50px;
    width: 50px;
    height: 100px;
  }
  .description {
    overflow: hidden;
    padding-right: 10px;
    text-overflow: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
